@model List<MenuList>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




               
                @foreach (var category in Model){
                <div class="dropdown">




            

            <a asp-controller="Home" asp-action="CategoryList" asp-route-categoryName="@category.CategoryName" class="d-flex align-items-center justify-content-left p-2 text-decoration-none listShow dropdown-item" id="dropdownUser3"  aria-expanded="true">
                        @category.CategoryName
                    </a>
        <ul class="dropdown hiddenList menuList sibling-fade" aria-labelledby="dropdownUser3">
                            @foreach(var item in category.SubCategories)
                            {
                                if(category.CategoryId == item.CategoryId)
                                {
                                <li ><a asp-controller="Home" asp-action="SubCategoryList" asp-route-categoryName="@category.CategoryName" asp-route-subCategoryName="@item.Name" class="dropdown-item nav-text-styling">@item.Name</a></li>
                                }
                            }
              
                    </ul>
                </div>
                 
                }
           


            <!-- content -->
     
  
