@model lucas_2._0.Views.Home.IndexVM[]

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="intro"><h1 class="text">The Code Cave: A Repository Of Knowledge</h1></div>
<p ><span>Welcome to The Code Cave, a repository of my knowledge and experiences as a developer. I'm sharing everything I've learned along the way, from the basics of programming to more advanced concepts.</span></p>
<p ><span>Whether you're a beginner or a seasoned pro, you'll find something useful here. I hope my journey can inspire you to start your own.</span></p>
<p><strong>Start exploring today!</strong></p>

</div>

@foreach(var item in Model)
{
    <div class="content-box">
        <div class="row">
            <div class="col">
                <a asp-controller="Home" asp-action="PostView" asp-route-categoryName="@item.CategoryName" asp-route-subCategoryName="@item.SubCategoryName" asp-route-postId="@item.PostName">  <h2> @item.PostName </h2></a>
            </div>
                 </div>
        <div class="row">
            <div class="col description">
                @item.PostDescription
            </div>
           
        </div>
        <div class="row content-tags">
            <div class="col">
               
                <a asp-controller="Home" asp-action="CategoryList" asp-route-categoryName="@item.CategoryName"> @item.CategoryName</a>
            </div>
            <div class="col">
                <a asp-controller="Home" asp-action="SubCategoryList" asp-route-categoryName="@item.CategoryName" asp-route-subCategoryName="@item.SubCategoryName">@item.SubCategoryName</a>
            </div>
        </div>
    </div>
}
