@model IndexVM[]

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddOrEditCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Category Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="SubCategory" asp-route-id="@item.CategoryId">@item.CategoryName</a>
            </td>
            <td>
                    <a asp-action="AddOrEditCategory" asp-route-id="@item.CategoryId">Edit</a> |
                    <a asp-action="SubCategory" asp-route-id="@item.CategoryId">Sub categories</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
