@model PostsVM

@{
    ViewData["Title"] = "Index";
}

<h1 class="description">@Model.SubCategoryName</h1>

<p>
    <a asp-controller="Admin" asp-action="AddOrEditPosts" asp-route-id="@null" asp-route-subCategoryId="@Model.SubCategoryId" >Create New Post</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="description">
                Posts
            </th>
            <th class="description"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    <a asp-action="AddOrEditPosts" asp-route-id="@item.Id">@item.Title</a>
                </td>
                <td>
                    <a asp-action="AddOrEditPosts" asp-route-id="@item.Id" asp-route-subCategoryId="@Model.SubCategoryId" >Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
