@model SubCategoryVM
@{
    ViewData["Title"] = $"Sub Categories of {Model.CategoryName}";
}

<p>
    <a asp-action="AddOrEditSubCategory" asp-route-id="@Model.CategoryId" asp-route-categoryName="@Model.CategoryName">Create New Sub Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               @Model.CategoryName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.SubCategories)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <a asp-action="AddOrEditSubCategory" asp-route-id="@Model.CategoryId" asp-route-subCategoryId="@item.Id" asp-route-categoryName="@Model.CategoryName">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    
    <a asp-action="Index">Back to List</a>
</div>