@model SubCategoryVM
@if (User.Identity.IsAuthenticated)
{

    ViewData["Title"] = $"Sub Categories of {Model.CategoryName}";


<p>
    <a asp-action="AddOrEditSubCategory" asp-route-id="@Model.CategoryId" asp-route-categoryName="@Model.CategoryName">Create New Sub Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class ="description">
               @Model.CategoryName
            </th>
            <th class="description"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.SubCategories)
        {
            <tr>
                <td>
                    <a asp-controller="Admin" asp-action="Posts" asp-route-subCategoryId="@item.Id"> @item.Name</a>
                </td>
                <td>
                    <a asp-action="AddOrEditSubCategory" asp-route-id="@Model.CategoryId" asp-route-subCategoryId="@item.Id" asp-route-categoryName="@Model.CategoryName">Edit</a> |
                    <a asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    
    <a asp-controller="Admin" asp-action="IndexList">Back to List</a>
</div>

   
}

else
{

    <p>You need to be logged in to se the members page</p>

}